@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 20px;
    background: #17292f;
    min-height: 100vh;
    gap: 15px;
    padding-top: 50px;
}

.container .content {
    flex: 1 1 400px;
}

.container .image {
    flex: 1 1 400px;
}

.container .image img {
    width: 100%;
}

.container .content .title {
    font-size: 45px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}

.container .content p {
    color: #ececec;
    padding: 5px 0;
}

.container .content .count-down {
    display: flex;
    gap: 15px;
    padding: 10px 0;
}

.container .content .count-down .box {
    padding: 5px;
    background: #fff;
    border: 1px solid #17292f;
    text-align: center;
    flex: 1 1 20px;
}

.container .content .count-down .box h3 {
    font-size: 50px;
    color: #17292f;
}

.container .content .count-down .box span {
    color: #878300;
    font-size: 20px;
}

.container .content .btn {
    display: inline-block;
    padding: 8px 50px;
    margin: 10px 0;
    font-size: 17px;
    background: #ffe430;
    color: #000;
    transition: 0.2s ease-out;
}

.container .content .btn:hover {
    letter-spacing: 2px;
}

@media (max-width: 500px) {
    .container {
        padding: 0px 20px;
    }
    .container .content {
        text-align: center;
    }
    .container .content .title {
        font-size: 30px;
    }
    .container .content p {
        font-size: 15px;
    }
    .container .content .count-down {
        gap: 5px;
    }
    .container .content .count-down .box h3 {
        font-size: 25px;
    }
    .container .content .count-down .box span {
        font-size: 15px;
    }
}

.Social-media {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

a {
    display: flex;
    background: #fff;
    height: 45px;
    width: 45px;
    margin: 0 15px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 6px 6px 10px -1px #007cc426, -6px -6px 10px -1px #a2a72db3;
    border: 1px solid #007cc400;
    transition: transform 0.5s
}

a svg {
    font-size: 50px;
    color: #111;
    transition: transform 0.5s;
}

a:hover {
    box-shadow: inset 4px 4px 6px -2px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px -1px rgba(255, 255, 255, 1), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 124, 196, 0.1);
    transform: translateY(2px);
}

a:hover svg {
    transform: scale(0.90);
}

a:hover .fa-facebook {
    color: #3b5998;
}

a:hover .fa-twitter {
    color: #00acee;
}

a:hover .fa-whatsapp {
    color: #4fce5d;
}

a:hover .fa-instagram {
    color: #f14843;
}

a:hover .fa-youtube {
    color: #f00;
}